* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

#main-header {
    background: #20232a;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.main-nav {
    width: 90%;
    margin: auto;
}

.main-nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}


.profile {
    margin-left: auto;
}

.main-nav-item a {
    display: inline-block;
    text-decoration: none;
    padding: 4px 12px;
    font-size: 20px;
    color: #fff;
    border-bottom: 4px solid #20232a;
    border-top: 4px solid #20232a;
}

.main-nav-item a:hover {
    color: #61dafb;
    border-bottom: 4px solid #61dafb;
}



