{% extends 'base.html' %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/profiles.css' %}">
{% endblock style %}



{% block title %}
    {{request.user.username}}
{% endblock title %}

{% block content %}
    <main id="profile-form">
        <form action="" method="POST">
            {% csrf_token %}
            <ul class="profile-form-list">
                {% for field in form %}
                    <li class="profile-item">
                        {{field.label_tag}}
                        {{field}}
                        {{field.errors}}
                    </li>
                {% endfor %}
                <button class="profile-submit-btn">submit</button>
            </ul>
              
        </form>
    </main>
{% endblock content %}

